pip==22.3
folderstats==0.4.1
ipykernel==6.15.1
ipython==8.4.0
jedi==0.18.1
jupyter-client==7.3.4
matplotlib==3.5.2
numpy==1.23.1
pandas==1.4.3
pickleshare==0.7.5
plotly==5.9.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-docx==0.8.11
pdfminer3==2018.12.3.0
tabula==1.0.5
shareplum==0.5.1
Office365-REST-Python-Client==2.3.15
python-dotenv==0.21.0
python-pptx==0.6.18
pymysql==1.0.2
tika==1.24
pyarrow
pytest==7.2.0
awswrangler==2.17.0